.doughnut{
    margin-left: 3rem;
    margin-top: 2rem;
    border-radius: 5px;
    border: 1px solid #EFF1F6;
    margin-right: 2rem;
    height:25rem;
    margin-bottom: 2rem;
    width:60%;
    padding-inline: 1.4rem;
    padding-bottom: 1rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.doughnut p{
    font-weight: 500;
    font-size: 18px;
    margin-left: 0;
}
.doughnut span{
    color: #FF5403;
    font-size: 14px;
}

.canvas{
    display: flex;
    /* flex-direction: column; */
}

#canvas-container {
    max-height: 10vh;
    max-width: 10vw;
    display: flex;
    position: absolute;
 }

 .label{
     position: absolute;
  
  
 }

 ul{
    list-style: none;
    display: flex;
 }
 li{
    display: flex;
    align-items: center;
    gap: .8rem;
 }


 .circle{
    border-radius: 50%;
    height: .6rem;
    width: .6rem;
    background-color: red;
 }

 .percent{
    font-size: 14px;
    color: #131316;
    font-weight: bold;
 }
.flag{
    border-radius: 1%;
    width: 2rem;
    height: 3rem;

}
 @media (min-width: 768px) {
     /* #canvas-container {
         height: auto;
         width: auto;
      } */
 }